<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">Application Module</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon
                        class="icon-size-5 text-secondary"
                        [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">Estimate Vehicle Production</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Upload File Status Tracking
                </h2> 
            </div>
        </div>
    </div>
    <div class="flex-auto p-6">
        <div class="max-w-8xl">
            <mat-card>
                <div class="flex flex-nowrap" *ngIf="fileDetail != null">
                    <div>File Name: {{fileDetail.originalFileName}} | Year: {{fileDetail.year}} | Version: {{fileDetail.version}} | CreateDate: {{fileDetail.createdDate|date}}</div>
                    <div>&nbsp;</div>
                    <!-- <div><mat-progress-spinner *ngIf="showSpinner" mode="indeterminate" diameter="17"></mat-progress-spinner>&nbsp;</div> -->
                    <div class="spinner-wrapper">
                        &nbsp;&nbsp;|&nbsp;&nbsp;<mat-spinner [diameter]="17"></mat-spinner><span>&nbsp;&nbsp;In Processing</span>
                      </div>
                </div>
                    <mat-horizontal-stepper
                        [disableRipple]="false"
                        [linear]="false"
                        #horizontalStepper>
                        <ng-template matStepperIcon="edit">
                            <mat-icon>check</mat-icon>
                        </ng-template>
                        <mat-step
                            #horizontalStepperStep1>
                            <ng-template matStepLabel>Upload</ng-template>
                            <button id="step1" class="hidden" mat-button matStepperNext >Next</button>
                        </mat-step>
    
                        <mat-step
                            #horizontalStepperStep2>
                            <ng-template matStepLabel>Header Validation</ng-template>
                            <button id="step2" class="hidden" mat-button matStepperNext >Next</button>
                        </mat-step>
    
                        <mat-step
                            #horizontalStepperStep3>
                            <ng-template matStepLabel>Data Validation</ng-template>
                            <button id="step3" class="hidden" mat-button matStepperNext >Next</button>
                        </mat-step>
                        <mat-step
                            #horizontalStepperStep3>
                            <ng-template matStepLabel>Data Transformation</ng-template>
                            <button id="step4" class="hidden" mat-button matStepperNext >Next</button>
                        </mat-step>
                        <mat-step
                            #horizontalStepperStep3>
                            <ng-template matStepLabel>Notification</ng-template>
                            <button id="step5" class="hidden" mat-button matStepperNext >Next</button>
                        </mat-step>
    
                        <mat-step>
                            <ng-template matStepLabel>Done</ng-template>
                            <button id="step5" class="hidden" mat-button matStepperReset >Reset</button>
                        </mat-step>
                    </mat-horizontal-stepper>
              </mat-card>
        </div>
    </div>
    <!-- Main -->
    <div class="flex-auto" *ngIf="horizontalStepper.selectedIndex>=3">
        <div class="max-w-8xl">
            <mat-card>
                <mat-card-title class="color:red">Found {{data.length}} error(s)</mat-card-title>
            <ngx-json-viewer [json]="data" [expanded]="false"></ngx-json-viewer>
            </mat-card> 
        </div>
    </div>
</div>

