::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}
.hidden{
    display: none;
}
.spinner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .result-table {
    width: 100%;
  }